
<!-- <p>
  dashboard component works.
</p> -->

<!-- <div class="component-container">
  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="box5"></div>
</div> -->

<!-- <div class="container">
  <div class="box a">A</div>
  <div class="box b">B</div>
  <div class="box c">C</div>
  <div class="box d">D</div>
</div> -->

<!-- <div class="dropzone">
  <div class="box a">A</div>
  <div class="box b">B</div>
  <div class="box c">C</div>
  <div class="box d">D</div>
</div> -->

<!-- <div class="wrapper" (drop)="onDrop()" (dragover)="onDragOver()"> -->
<div class="wrapper edit">
   <!-- <div draggable="true" (dragstart)="startMove()">One -->
   <div (mousedown)="startMove()">One
     <!-- <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1000;"></div> -->
   </div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Two</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Three</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Four</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Five</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Six</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Seven</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Eight</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Nine</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Ten</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Eleven</div>
   <div draggable="true" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)">Twelve</div>
</div>