// src/scss/grid-settings.scss

// @import "neat/neat-helpers";

// custom grid settings for neat
$column: 90px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 1100px;
$visual-grid: true;
$visual-grid-color: rgba(#ff0000, 0.25);

// $my-custom-grid: (
//   columns: 12,
//   gutter: 10px,
//   media: 1100px,
//   color: rgba(#00d4ff, 0.25),
//   direction: ltr
// );